{% extends "template_layout.html" %} {% block title %}Grizzly Signature{% endblock %} {% block head %} {{ super() }} {% endblock %}
{% block content %} {% for data in entries %}


    <table id="table-content{{ data.id }}" style="
                font-family: Verdana, sans-serif;
                width:auto; height: 90px;
                text-align: left; 
                padding: 0px;">
        <tr>
            <!-- LOGO -->
            <td id="logo-td" rowspan="5" style="vertical-align:top;
                        height: 105px;
                        width: auto;
                        border-right:1px solid rgb(140, 140, 140);" valign="top">
                <img alt="Logo" id="logo" style="width:105px; height: 125px; border:0;"
                     src="{{ url_for('static', filename='assets/Grizzly Entertainment Logo.png') }}" width="105">
            </td>

            <!-- NAME -->
            <td id="name-td" style="    font-family: Verdana, sans-serif;
                        line-height:14px;
                        vertical-align:top;
                        margin-left: 20px; width:auto" valign="top">
                <strong><span id="name"
                              style="font-family:Verdana, sans-serif;font-size:11pt;color: rgb(65, 64, 64);">{{ data.name }}</span></strong>
                <span style="font-family:Verdana, sans-serif;font-size:7pt;color: rgb(0, 0, 0); font-style: italic;">aka</span>
                <span style="font-family: Verdana, sans-serif; font-size:10pt;color: rgb(255, 0, 0); "><b>{{ data.nickname }}</b></span>
            </td>
        </tr>

        <!-- ROLE -->
        <!-- <tr>
        <td id="role-td" style="font-family:Verdana, sans-serif;
                    line-height:8px;
                    vertical-align:top;
                    color:#000000;
                    font-size:10pt;" valign="top">
            <span class="span-st" style="font-family:Verdana, sans-serif;font-size:10pt;color:#2c2c2c;">{{data.role}}</span>
        </td>
    </tr> -->
        <tr>
            <!-- COMPANY INFO -->
            <td id="info-td" style="    font-family:Verdana, sans-serif;
                    line-height:12px;
                    /* border-bottom:3px solid rgb(149, 159, 255); */
                    color:#000000;
                    font-size:10pt;
                    vertical-align:top;" valign="top">

            <span class="span-st" style="font-family:Verdana, sans-serif;font-size:10pt;color:#2c2c2c;">
                {{ data.role }} | <strong>
                {{ data.company_name }}
            </strong> 
            </span>
                <br>
            </td>
        </tr>
        <tr>

            <!-- CONTACT INFO -->
            <td id="contact-td" style="font-family:Verdana, sans-serif;
                    line-height:18px;
                    color:#000000;
                    font-size:9pt;
                    vertical-align:top;" valign="top">
            <span class="span-st" style="font-family:Verdana, sans-serif;font-size:9pt;color:#2c2c2c;">
                            <img class="icon" alt="mobile-icon"
                                 src="https://img.icons8.com/fluent/48/000000/cell-phone.png"
                                 style="border:0;height:12px;width:12px;" width="12" height="12"
                                 border="0">&nbsp;&nbsp;{{ data.mob1 }}
                            <img class="icon" alt="flag-icon" src="{{ data.mob1_flag_icon_link }}"
                                 style="border:0;height:12px;width:12px;" width="12" height="12" border="0">
                <!-- <span><br></span> --> |
            </span>

                {% if data.mob2 %}
                    <span class="span-st" style="font-family:Verdana, sans-serif;font-size:9pt;color:#2c2c2c;">
                                <img class="icon" alt="phone-icon"
                                     src="https://img.icons8.com/offices/48/000000/phone.png"
                                     style="border:0;height:12px;width:12px;" width="12" height="12" border="0">&nbsp;&nbsp;{{ data.mob2 }}
                                <img class="icon" alt="flag-icon" src="{{ data.mob2_flag_icon_link }}"
                                     style="border:0;height:12px;width:12px;" width="12" height="12" border="0">
                                <span><br></span>
            </span>

                {% elif data.work_num %}
                    <span class="span-st" style="font-family:Verdana, sans-serif;font-size:9pt;color:#2c2c2c;">
                                <img class="icon" alt="phone-icon"
                                     src="https://img.icons8.com/color/48/000000/ringing-phone.png"
                                     style="border:0;height:12px;width:12px;" width="12" height="12" border="0">&nbsp;&nbsp;{{ data.work_num }}
                                <span><br></span>
            </span>

                {% endif %}

                <span class="span-st" style="font-family:Verdana, sans-serif;font-size:9pt;color:#2c2c2c;">
                            <img class="icon" alt="email-icon" src="https://img.icons8.com/color/48/000000/email.png"
                                 style="border:0;height:12px;width:12px;" width="12" height="12"
                                 border="0">&nbsp;&nbsp;{{ data.email }}
                            <span><br></span>
            </span>
                <span style="font-family:Verdana, sans-serif; font-size:9pt;">
                            <img class="icon" alt="website-icon" src="{{ social_media['website'].icon_link }}"
                                 style="border:0;height:12px;width:12px;" width="12" height="12" border="0">&nbsp;
                            <a href="https://{{ data.website }}" target="_blank" rel="noopener"
                               style="text-decoration:none;">
                                {{ data.website }}
                                <!-- <span style="font-size:10pt;font-family:Verdana, sans-serif;color:#7e2c55">www.grizzlyglobal.net</span> -->
            </a>
            </span>
            </td>
        </tr>
        <tr>

            <!-- SOCIAL MEDIA -->
            <td id="social-media-td" style="vertical-align:top;" valign="top">

                {% if social_media['facebook'] %}
                    <span>
                                <a href="{{ social_media['facebook'].link }}" target="_blank" rel="noopener">
                                <img class="social-icons" alt="facebook icon"
                                     src="{{ social_media['facebook'].icon_link }}"
                                     style="border:0;height:16px;width:16px" width="16" border="0"></a>&nbsp;
                            </span> {% endif %} {% if social_media['instagram'] %}
                <span>
                                <a href="{{ social_media['instagram'].link }}" target="_blank" rel="noopener">
                                <img class="social-icons" alt="instagram icon"
                                     src="{{ social_media['instagram'].icon_link }}"
                                     style="border:0;height:16px;width:16px" width="16" border="0"></a>&nbsp;
                            </span> {% endif %} {% if social_media['youtube'] %}
                <span>
                                <a href="{{ social_media['youtube'].link }}" target="_blank" rel="noopener">
                                <img class="social-icons" alt="youtube icon"
                                     src="{{ social_media['youtube'].icon_link }}"
                                     style="border:0;height:16px;width:16px" width="16" border="0"></a>&nbsp;
                            </span> {% endif %} {% if social_media['linkedin'] %}
                <span>
                                <a href="{{ social_media['linkedin'].link }}" target="_blank" rel="noopener">
                                <img class="social-icons" alt="linkedin icon"
                                     src="{{ social_media['linkedin'].icon_link }}"
                                     style="border:0;height:16px;width:16px" width="16" border="0"></a>&nbsp;
                            </span> {% endif %} {% if social_media['twitter'] %}
                <span>
                                <a href="{{ social_media['twitter'].link }}" target="_blank" rel="noopener">
                                <img class="social-icons" alt="twitter icon"
                                     src="{{ social_media['twitter'].icon_link }}"
                                     style="border:0;height:16px;width:16px" width="16" border="0"></a>&nbsp;
                            </span> {% endif %}

            </td>
        </tr>
    </table>


    <br>
    <button onclick="copyToClipboard('{{ data.id }}')">Copy</button>

    <form action="{{ url_for('edit_entry',company_slug=data.company_slug ,entry_id=data.id) }}" method="POST">
        <button>Edit</button>
        <input type="hidden" value="{{ data.id }}">
    </form>
    <hr>
    <br><br> {% endfor %} {% endblock %}