<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <title>Email signature template for 3mushrooms</title>
    </head>        
    
        <body>

            <table style="width: auto; font-size: 10pt; font-family:Verdana, sans-serif; min-width: 235px;" cellspacing="0" cellpadding="0" border="0">
                <tr>
                    <td style="font-size: 10pt; font-family: Verdana, sans-serif; width: 130px; text-align:center; vertical-align: top;" rowspan="6" width="200" valign="top" align="center">
                        <img alt="logo1" style="width:120px; height:auto; border:0; padding-top: 0px;" src="/static/assets/3mm-blue-logo.jpg" width="74" border="0">
                        <img alt="logo2" style="border:0; height:auto; width:75px; " src="/static/assets/monarch_logo.png" width="87" border="0">    
                    </td>
                    <td>
                        <table cellspacing="0" cellpadding="0">
                            <tr>
                            <td style="font-size: 10pt; color:#0079ac; font-family: Verdana, sans-serif; width:auto; min-width:325px; padding-bottom: 2px; vertical-align: top; line-height:1.2; border-bottom:2px solid #6FA7DD;" valign="top">
                                <strong><span style="font-size: 14pt; font-family: Verdana, sans-serif; color:#000000;" >{{data.name}}<br></span></strong>

                                {% if data.role %}
                                    <em style="font-family: Verdana, sans-serif; font-size:10pt; color:#000000;">{{data.role}}</em>       
                                {% endif %}
                                <!-- <span style="font-family: Verdana, sans-serif; font-size:9pt; color:#000000;"><br><strong>{{data['company_name']}}</strong></span> -->
                            </td>
                            </tr> 
                            <tr>

                            <tr>
                                <td style="font-size: 9pt; color:#444444; font-family: Verdana, sans-serif; padding-top: 2px; vertical-align: top; line-height:1.5" valign="top">

                                    {% if data.cy_mob %}
                                        <img class="icon" alt="flag-icon" src="https://img.icons8.com/color/48/000000/cyprus-circular.png" style="border:0;height:12px;width:12px;" width="12" height="12" border="0">
                                        <span style="font-size: 9pt; font-family: Verdana, sans-serif; color:#000000;" > {{data.cy_mob}}</span>
                                    {% endif%}

                                   
                                    {% if not data.cy_mob  and data.bh_mob%}
                                        <img class="icon" alt="flag-icon" src="https://img.icons8.com/office/16/000000/bahrain.png" style="border:0;height:12px;width:12px;" width="12" height="12" border="0">
                                        <span style="font-size: 9pt; font-family: Verdana, sans-serif; color:#000000;" >{{data.bh_mob}}</span>
                                    {% elif data.bh_mob %}
                                    |
                                        <img class="icon" alt="flag-icon" src="https://img.icons8.com/office/16/000000/bahrain.png" style="border:0;height:12px;width:12px;" width="12" height="12" border="0">
                                        <span style="font-size: 9pt; font-family: Verdana, sans-serif; color:#000000;" >{{data.bh_mob}}</span>
                                    {% endif %}

                                    


                                    {% if data.us_mob%}
                                    |
                                        <img class="icon" alt="flag-icon" src="https://img.icons8.com/color/48/000000/usa-circular.png" style="border:0;height:12px;width:12px;" width="12" height="12" border="0">
                                        </span><span style="font-size: 9pt; font-family: Verdana, sans-serif; color:#000000;" > {{data.us_mob}}</span>
                                    {% endif %}
                    
                                    {% if data.work_num %}
                                        {% if data.cy_mob or data.us_mob or data.bh_mob%}
                                            |
                                        {% endif %}
                                        <img class="icon" alt="flag-icon" src="https://img.icons8.com/dusk/50/000000/ringing-phone.png" style="border:0;height:12px;width:12px;" width="12" height="12" border="0">
                                        <span style="font-size: 9pt; font-family: Verdana, sans-serif; color:#000000;" > {{data.work_num}}</span>
                                    {% endif %}
                                </td>
                            </tr>
                                <!-- <td style="border-top:2px solid #6FA7DD; font-size: 9pt; color:#444444; font-family: Verdana, sans-serif; padding-top: 8px; vertical-align: top; line-height:1.5" valign="top"> -->
                                <td style="font-size: 9pt; color:#444444; font-family: Verdana, sans-serif; padding-top: 0px; vertical-align: top; line-height:1.5" valign="top">

                                    <span>
                                        <img class="icon" alt="email-icon" src="https://img.icons8.com/color/48/000000/email.png" style="border:0;height:12px;width:12px;" width="12" height="12" border="0">&nbsp;{{data.email}}
                                        {% if data.email2%}
                                            | {{data.email2}}
                                        {% endif %}
                                        <br>
                                    </span>
                                </td>
                            </tr>

                            
                            <tr>
                                <td style="font-size: 9pt; color:#444444; font-family: Verdana, sans-serif; padding-top: 0px; vertical-align: top; line-height:1.5" valign="top">

                                    <span>
                                        <img class="icon" alt="flag-icon" src="https://img.icons8.com/dusk/64/000000/internet.png" style="border:0;height:12px;width:12px;" width="12" height="12" border="0">

                                        <a href="{{data['website']}}" target="_blank" rel="noopener" style="text-decoration:none; font-size: 9pt; font-family: Verdana, sans-serif; color: #4946f5;">{{data.website}}</a>
                                    </span>
                                </td>

                            </tr>
                            <tr>
                            </tr>
                            <tr>
                            <td style="font-size: 10pt; font-family: Verdana, sans-serif; padding-bottom: 0px; padding-top: 6px; vertical-align: top;" valign="top">
                                
                                {% if data.links['facebook'] %}
                                    <span>
                                        <a href="{{data.links['facebook']}}" target="_blank" rel="noopener">
                                        <img class="social-icons" alt="facebook icon" src="https://img.icons8.com/ultraviolet/40/000000/facebook-new.png" style="border:0;height:16px;width:16px" width="16" border="0"></a>&nbsp;
                                    </span>
                                {% endif %}
                                
                                {% if data.links['instagram'] %}
                                    <span>
                                        <a href="{{data.links['instagram']}}" target="_blank" rel="noopener">
                                        <img class="social-icons" alt="instagram icon" src="https://img.icons8.com/ultraviolet/40/000000/instagram-new.png" style="border:0;height:16px;width:16px" width="16" border="0"></a>&nbsp;
                                    </span>
                                {% endif %}

                                {% if data.links['youtube'] %}
                                    <span>
                                        <a href="{{data.links['youtube']}}" target="_blank" rel="noopener">
                                        <img class="social-icons" alt="youtube icon" src="https://img.icons8.com/fluent/48/000000/youtube-play.png" style="border:0;height:16px;width:16px" width="16" border="0"></a>&nbsp;
                                    </span>
                                {% endif %}

                                {% if data.links['linkedin'] %}
                                    <span>
                                        <a href="{{data.links['linkedin']}}" target="_blank" rel="noopener">
                                        <img class="social-icons" alt="linkedin icon" src="https://img.icons8.com/ultraviolet/40/000000/linkedin-circled.png" style="border:0;height:16px;width:16px" width="16" border="0"></a>&nbsp;
                                    </span>
                                {% endif %}

                                {% if data.links['twitter']%}
                                    <span>
                                        <a href="{{data.links['twitter']}}" target="_blank" rel="noopener">
                                        <img class="social-icons" alt="twitter icon" src="https://img.icons8.com/officel/16/000000/twitter.png" style="border:0;height:16px;width:16px" width="16" border="0"></a>&nbsp;
                                    </span>
                                {% endif %}
                            </td>
                            </tr>
                            
                        </table>
                    </td>
                </tr> 
            </table>    
    </body>
</html>